@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
            font-feature-settings: "liga";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
}

main {
    flex: 1 0 auto;
}

a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.brand-logo > i {
    font-size: 1.2em !important;
}

.sidenav-overlay {
    z-index: 1;
}

.btn i {
    line-height: 1 !important;
}

i.left-align {
    margin: 0 4px 2px 0;
}

i.right-align {
    margin: 0 0 2px 4px;
}

.ctm-container {
    margin: 0 auto;
    width: 80%;
}

.modal.bottom-sheet {
    height: fit-content;
    max-height: fit-content;
}

.rotate {
    animation: rotate 1s linear infinite;
}

#token-status, [account-name] {
    text-transform: capitalize;
}

.ctm-card-bg {
    background-image: url(../img/card-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.ctm-list-grey > span > li.collection-item {
    background-color: #616161;
}

#enroll-modal {
    width: fit-content;
    height: fit-content;
}

li.collection-item[disabled="disabled"] a.secondary-content {
    cursor: not-allowed;
}

.ctm-in-text {
    font-weight: bold;
    font-size: large;
    font-family: "Courier New", Courier, monospace;
    color: #fff;
}

.select-wrapper.text-light input {
    color: white;
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
